# Dependencies
node_modules/
.pnp
.pnp.js
venv/
env/
__pycache__/
*.pyc

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
dist/
build/
*.egg-info/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Media / Logs
*.log
recordings/
