# ==============================================================================
# SportX Backend Environment Variables (.env.example)
# ==============================================================================

PORT=
NODE_ENV=

# Firebase & GCP Credentials
FIREBASE_PROJECT_ID=
GCLOUD_PROJECT=
FIRESTORE_EMULATOR_HOST=
FIREBASE_STORAGE_EMULATOR_HOST=

# Database & Storage
DATABASE_URL=
